@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: Roboto , Arial;
    background-color: rgb(212, 212, 212);
    

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: rgb(212, 212, 212);
    color: rgb(152, 0, 182);
}
.humburger{
    display: flex;
    flex: 1;
    margin-left: 15px;
    font-size: 20px;
    
}
.ama{
    display: flex;
    

}
.retry{
    display: flex;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 180px;
    margin-top: 10px;
    border-radius: 3px;
    margin-left: 10%;
    color: white;
    background-color: rgb(34, 34, 34);
    box-shadow: 3px 3px 3px rgb(146, 146, 146),-3px  -3px 3px rgb(146 , 146, 146);
}
.world-map{
    position: absolute;
    width: 90%;
    height: 190px;
    top: 35px;
    left: 35px;
    color: gray;
}
.logo{
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 45px;
    color: rgb(255, 255, 255);
    z-index: 100;
}
.cbe{
    position: absolute;
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 12px;
    margin-left: 30px;
    color: rgb(221, 193, 35);
    top: 50px;
    left: 80px;
    z-index: 100;
}
.moto{
    position: absolute;
    text-wrap: nowrap;
    color: rgba(247, 224, 94, 0.815);
    font-weight: 300;
    font-size: 10px;
    top: 64px;
    left: 110px;
    font-family: monospace;
    z-index: 100;
}
.balance{
    color: white;
    position: absolute;
    top: 85px;
    left:150px ;
    font-weight: 300;
    z-index: 100;
}
.brr{
    position: absolute;
    font-weight: bold;
    top: 110px;
    left: 130px;
    color: rgb(228, 228, 228);
    vertical-align: center;
    z-index: 100;
}
.eye{
    position: absolute;
    top: 110px;
    left: 200px;
    color: rgb(235, 235, 235);
    z-index: 100;
    
}
.account{
  color: rgba(247, 224, 94, 0.815);
  font-size: 12px;
  position: absolute;
  top: 130px;
  left:130px;
  z-index: 100;
}
.date{
    font-size: 10px;
    position: absolute;
    top: 150px;
    left: 140px;
    z-index: 100;
}
img{
    width: 50px;
}
.circle{
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: limegreen;
    left: 180px;
    margin-top: 13px;
    border-radius: 4px;
    
}
.services{
    position: absolute;
    font-size: 12px;
    left: 160px;
    top: 245px;
}
.cards-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
    margin-top: 45px;
    margin-left: 30px;
    row-gap: 10px;

}
.cards{
    background-color: rgb(247, 247, 247);
    width: 150px;
    height: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(146 , 146 , 146),-3px -3px 5px rgb(146 , 146 , 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.icons{
    color: rgb(152, 0, 182);
    font-size: 27px;
}

.qr-btn{
    width: 70px;
    height: 70px;
    background-color: rgb(152, 0, 182);
    position: fixed;
    right: 30px;
    bottom: 60px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(152, 0, 182);
}
.qr{
    font-size: 30px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(152, 0, 182);
    margin-top: 30px;
    padding-left:7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    bottom: 0;
}
.home{
    margin-left: 20px;
}
.try{
    margin-right: 20px;
}

.transactoin{
    width: 340px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    border: none;
    position:absolute;
    top: 32%;
    left:7%;
    border-radius: 5px;
    padding: 0;
    z-index: 201;

}
.thanks{
    display: flex;
    justify-content: space-between;
    align-items:start;
    width: 100%;
    height: 30%;
    background-color: rgba(121, 189, 58, 0.829);
    position: absolute;
    padding: 0;
    border-radius: 5px 5px 0px 0px;
}
.msg{
    color: black;
    position: absolute;
    top:33% ;
    left: 5%;
    font-size: 13px;
    color: gray;
    display: block;
}
.etb{
    display: block;
    position: absolute;
    top: 41%;
    font-size: 13px;
    left: 5%;
    font-weight: bold;

}
.commercial{
    width: 95%;
    height: 25%;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}
.cbe-image{
    position: absolute;
    top: 5px;
}
.bank{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 65px;
    font-weight: bold;
    font-size: 14px;
}
.rely{
    display: block;
    position: absolute;
    top: 28px;
    left: 65px;
    font-size: 11px;
    color: gray;
}

.download,
.share{
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 10px;

    
}
.cancel{
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 18px;
    right: 16px;
    
}


.hidden{
    display: none;
}




.shaddow{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 79, 79,0.65);
    z-index: 200;
}

.right-side{

    display: flex;
    flex: 1;

}
.left-side{
    display: flex;
    flex: 1;

}
.shield{
    color: white;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 15px;
}
.thank{
    color: white;
    font-weight: bold;
    text-wrap: nowrap;
    position: absolute;
    top: 20px;
    left: 45px;
}
.success{
    color: white;
    position: absolute;
    top: 35px;
    left: 45px;
    font-size: 12px;
}
